<div class="container">
	<div class="row">
		<div class="content">

		<form method="post" style="padding:0 30px;">
			<div class="form-section">
				<h2>Project gegevens</h2>
				<div class="form-group">
				    <!-- <label for="projectname">Projectnaam</label> -->
				    <input type="text" name="projectname" value="{{ Project[0].ProjectName }}" placeholder="Projectnaam" class="form-control">
				</div>

				<div class="form-group">
				    <!-- <label for="projecturl">Project URL</label> -->
				    <input type="text" name="projecturl" value="{{ Project[0].ProjectUrl }}" placeholder="Project URL" class="form-control">
				</div>
			</div>

			<div class="form-section">

				<h2>FTP gegevens</h2>

				<div class="form-group">
				    <!-- <label for="ftphost">FTP Host</label> -->
				    <input type="text" name="ftphost" value="{{ Project[0].FtpHost }}" placeholder="FTP Host" class="form-control">
				</div>

				<div class="form-group">
				    <!-- <label for="ftpuser">FTP Gebruikersnaam</label> -->
				    <input type="text" name="ftpuser" value="{{ Project[0].FtpUser }}" placeholder="FTP Gebruikersnaam" class="form-control">
				</div>

				<div class="form-group">
				    <!-- <label for="ftppass">FTP Wachtwoord</label> -->
				    <input type="password" class="ftppass" name="ftppass" value="{{ Project[0].FtpPass }}" placeholder="FTP Wachtwoord" class="form-control"><i class="viewFtpPass fa fa-eye" aria-hidden="true"></i>
				</div>

			</div>

			<div class="form-section">

				<h2>Database gegevens</h2>

				<div class="form-group">
				    <!-- <label for="dbhost">Database Host</label> -->
				    <input type="text" name="dbhost" value="{{ Project[0].DbHost }}" placeholder="Database Host" class="form-control">
				</div>

				<div class="form-group">
				    <!-- <label for="dbuser">Database Gebruikersnaam</label> -->
				    <input type="text" name="dbuser" value="{{ Project[0].DbUser }}" placeholder="Database Gebruikersnaam" class="form-control">
				</div>

				<div class="form-group">
				    <!-- <label for="dbpass">Database Wachtwoord</label> -->
				    <input type="password" class="dbpass" name="dbpass" value="{{ Project[0].DbPass }}" placeholder="Database Wachtwoord" class="form-control"><i class="viewDbPass fa fa-eye" aria-hidden="true"></i>
				</div>

			</div>

			<div class="form-section">

				<h2>Wordpress gegevens</h2>

				<div class="form-group">
				    <!-- <label for="wpuser">Wordpress Gebruikersnaam</label> -->
				    <input type="text" name="wpuser" value="{{ Project[0].WpUser }}" placeholder="Gebruikersnaam" class="form-control">
				</div>

				<div class="form-group">
				    <!-- <label for="wppass">Wordpress Wachtwoord</label> -->
				    <input type="password" class="wppass" name="wppass" value="{{ Project[0].WpPass }}" placeholder="Wachtwoord" class="form-control"><i class="viewWpPass fa fa-eye" aria-hidden="true"></i>
				</div>

			</div>

			<button type="submit" name="submit" class="btn btn-primary">Wijzigen</button>
		</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

	$('.viewFtpPass').on('click', function () {
		if ($('.ftppass').attr("type") === "password"){
			$('.ftppass').attr('type', 'text'); 
		}else{
			$('.ftppass').attr('type', 'password'); 
		}
	});

	$('.viewDbPass').on('click', function () {
		if ($('.dbpass').attr("type") === "password"){
			$('.dbpass').attr('type', 'text'); 
		}else{
			$('.dbpass').attr('type', 'password'); 
		}
	});

	$('.viewWpPass').on('click', function () {
		if ($('.wppass').attr("type") === "password"){
			$('.wppass').attr('type', 'text'); 
		}else{
			$('.wppass').attr('type', 'password'); 
		}
	});
});
</script>