<div class="container">
	<div class="row">
		<div class="col content">
			<a href="project/add"><div class="btn" style="background-color:#d0ac53;color:#ffffff;font-size:14px;margin-left:50px;"><i class="fa fa-plus" aria-hidden="true"></i> Nieuw</div></a>
			<div style="display:inline-block;float:right;width:30%;margin-right:20px;font-size:13px;margin-right:50px;">
				<input type="text" class="search" name="search" placeholder="Zoeken..." />
			</div>
			<div class="SearchResults">
				<table width="100%">
					<thead>
						<tr>
							<th>#</th>
							<th>Projectnaam</th>
							<th>Project Url</th>
							<th>Bekijk Project</th>
						</tr>
					</thead>
					<tbody>
						{% for Project in Projects %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ Project.ProjectName }}</td>
							<td>{{ Project.ProjectUrl }}</td>
							<td><a href="/ldeq/project/details/{{ Project.Id }}"><div class="btn" style="background-color:#d0ac53;color:#ffffff;font-size:14px;"><i class="fa fa-eye" aria-hidden="true"></i> Bekijk project</div></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="views/index/index.js"></script>