<div class="container">
	<!-- <div class="row">
		<div class="col contentRight">
			<div style="display:inline-block;width:52%;margin-right:20px;">
				<label>Zoeken</label>
				<input type="text" class="search" name="search" placeholder="Zoeken..." />
			</div>
			<div style="display:inline-block;width:45%;">
				<label>Filter op categorie</label>
				<select class="ProjectCategory">
					<option value="0">Selecteer categorie</option>
					<option value="1">Lacle Design</option>
					<option value="2">Equalizer C.P.D.</option>
				</select>
			</div>
		</div>
	</div> -->
	<div class="row">
		<div class="col content">
			<a href="projecten/add"><div class="btn" style="background-color:#d0ac53;color:#ffffff;font-size:14px;margin-left:50px;"><i class="fa fa-plus" aria-hidden="true"></i> Nieuw</div></a>
			<div style="display:inline-block;float:right;width:30%;margin-right:20px;font-size:13px;margin-right:50px;">
				<input type="text" class="search" name="search" placeholder="Zoeken..." />
			</div>
			<!-- <div style="display:inline-block;width:45%;">
				<label>Filter op categorie</label>
				<select class="ProjectCategory">
					<option value="0">Selecteer categorie</option>
					<option value="1">Lacle Design</option>
					<option value="2">Equalizer C.P.D.</option>
				</select>
			</div> -->
			<div class="SearchResults">
				<table width="100%">
					<thead>
						<tr>
							<th>Projectnaam</th>
							<th>Project Url</th>
							<th>Project Categorie</th>
						</tr>
					</thead>
					<tbody>
						{% for Project in Projects %}
						<tr>
							<td>{{ Project.ProjectName }}</td>
							<td>{{ Project.ProjectUrl }}</td>
							{% if Project.ProjectCat == 2 %}
								<td>Equalizer C.P.D.</td>
							{% else %}
								<td>Lacle Design</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="views/Index/Index.js"></script>