<div class="container">
	<div class="row">
		<div class="content">
		Project toevoegen

		<form method="post" style="padding:0 30px;">
			<div class="form-group">
			    <label for="projectname">Projectnaam</label>
			    <input type="text" name="projectname" class="form-control">
			</div>

			<div class="form-group">
			    <label for="projecturl">Project URL</label>
			    <input type="text" name="projecturl" class="form-control">
			</div>

			<div class="form-group">
			    <label for="projectcat">Project categorie</label>
			    <select multiple class="form-control" name="projectcat" id="projectcat">
			      <option value="1">Lacle Design</option>
			      <option value="2">Equalize C.P.D.</option>
			    </select>
			  </div>

			<button type="submit" name="submit" class="btn btn-primary">Toevoegen</button>
		</form>
		</div>
	</div>
</div>